<ion-header>
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" style="width: 100%; text-align: center;">

    <ion-spinner name="crescent" 
    *ngIf="loadingMap"
    vertical="center" 
    horizontal="center"
    color="primary"
    style="width: 50px; height: 50px;"
    ></ion-spinner>

  </ion-fab>
  <div class="map" id="map" [ngStyle]="{'visibility' : loadingMap ? 'hidden' : 'visible' }"></div>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="centerMap(location)">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [color]="isRefreshing ? 'danger' : null"  (click)="toggleRefresh()">
      <ion-icon name="play" *ngIf="!isRefreshing"></ion-icon>
      <ion-icon name="square" *ngIf="isRefreshing"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
